@model Bookmaker.Models.Section

@Html.HiddenFor(model => model.TravelID)

<div class="editor-label five columns">
    @Html.CaptionFor(model => model.TypeSection)
</div>
<div class="editor-field eleven columns">
    @Html.DropDownListFor(model => Model.TypeSection, (SelectList)ViewBag.SectionType, string.Empty)
    @Html.ValidationMessageFor(model => model.TypeSection)
</div>

<div class="editor-label five columns">
    @Html.CaptionFor(model => model.Content)
</div>
<div class="editor-field eleven columns">
    @Html.EditorFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)
</div>