@model Bookmaker.Models.SectionImport

@{
    ViewBag.Title = "Importer les sections d'un voyage";
}

<h2 class="crud">@Html.ActionChildcrud("Parties", "Sections", Model.Travel.Travel_ID)</h2>

<fieldset>
    <legend>Importe «&nbsp;@Model.Travel.Title&nbsp;»</legend>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="editor-label five columns"> 
            @Html.CaptionFor(model => model.RawContent)
            <br />
            <br />
            <p>
                Il est possible de faire débuter une ligne par "!_" ("!" + espace) pour imposer
                qu'elle soit reconnue en tant que titre.
            </p>
            <p>
                Lorsqu'ils sont décrits sur plusieurs lignes, les menus doivent apparaitrent entre
                un début ("Menu", "Menu_", "_Menu", "Entrée_", "Plat_", "Dessert_" ou "Fromage_")
                et une fin (toujours "---").
            </p>
        </div>
        <div class="editor-field eleven columns">
            @Html.EditorFor(model => model.RawContent)
            @Html.ValidationMessageFor(model => model.RawContent)
        </div>

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionLink("Annuler", "Details", "Travels", new { id = Model.Travel.Travel_ID }, new { @class = "cancel" })
        </p>
    }
</fieldset>

@section JavaScript
{
    @Html.Partial("_FormScripts")
}