@model Bookmaker.Models.Travel

<h2 class="crud">
    @Html.ActionChildcrud("Parties", "Sections", Model.Travel_ID)
    @if ((Model.Sections.Count == 0) && (ViewBag.IsUpdatable)) {
    <text>/</text>
    @Html.ActionLink("Importer", "Import", "Sections", new { Parent_ID = Model.Travel_ID }, null)
    }
</h2>

<table class="sortable sections" data-url='@Url.Action("Sort", "Sections", new { Parent_ID = @Model.Travel_ID })'>
<thead>
    <tr>
        <th class="iconwidth"></th>
        <th>
            N°
        </th>
        <th>
            Contenu
        </th>
        <th class="iconwidth"></th>
    </tr>
</thead>
<tbody>
@foreach (var line in Model.Sections)
{
    <tr>
        <td>
            @Html.ActionLink("Modifier", "Edit", "Sections", new { id = line.Section_ID }, new { @class = "edit" })
        </td>
        <td class="handle" data-pos="@(line.Position - 1)">
            @line.Position
        </td>
        <td>
            @line.ContentAsHtml()
        </td>
        <td>
            @Html.ActionLink("Supprimer", "Delete", "Sections", new { id = line.Section_ID }, new { @class = "delete" })
        </td>
    </tr>
}
</tbody>
<tfoot>
    <tr>
        <td></td>
        <td></td>
        <td class='crud'>
            Ajouter
            / @Html.ActionLink("Titre", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 1 }, null)
            / @Html.ActionLink("Texte", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 2 }, null)
            / @Html.ActionLink("Menu", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 3 }, null)
            / @Html.ActionLink("Menu Centré", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 4 }, null)
            / @Html.ActionLink("Image", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 5 }, null)
            / @Html.ActionLink("Tarif", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 6 }, null)
            / @Html.ActionLink("Conditions", "Create", "Sections", new { Parent_ID = Model.Travel_ID, Section_Type = 7 }, null)
        </td>
        <td></td>
    </tr>
</tfoot>
</table>
