@model Bookmaker.Models.Travel

<h2 class="crud">@Html.ActionChildcrud("Parties", "Sections", Model.TravelID)</h2>

<table class="sections">
<thead>
    <tr>
        <th></th>
        <th>
            N°
        </th>
        <th>
            Contenu
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model.Sections)
{
    <tr>
        <td>
            @Html.ActionLink("Modifier", "Edit", "Sections", new { id = item.SectionID }, new { @class = "edit" })
        </td>
        <td class="handle" data-pos="@(item.Position - 1)">
            @item.Position
        </td>
        <td>
            @item.ContentAsHtml()
        </td>
        <td>
            @Html.ActionLink("Supprimer", "Delete", "Sections", new { id = item.SectionID }, new { @class = "delete" })
        </td>
    </tr>
}
</tbody>
</table>
