<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="fr"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="fr"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="fr"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="fr"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Bookmaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/skeleton/stylesheets/base.css">
    <link rel="stylesheet" href="~/Content/skeleton/stylesheets/skeleton.css">
    <link rel="stylesheet" href="~/Content/skeleton/stylesheets/layout.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

@{
    var ActionName = ViewContext.RouteData.Values["Action"].ToString().ToLowerInvariant();
    var IsSearchEnable = !(new[] { "create", "edit", "delete", "copy", "jsonimport" }).Contains(ActionName);
}

<body>
    @Html.Flash()
    <div class="container">
        <header class="sixteen columns">
            <div id="title">
                <h1>Bookmaker / <em>@Html.Action("Title", "Booklets")</em></h1>
            </div>
            <nav>
                <ul id="menu" class="tabs">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Brochures", "Index", "Booklets")</li>
                    <li>@Html.ActionLink("Voyages", "Index", "Travels")</li>
                    <li>@Html.ActionLink("Tarifs", "Index", "Prices")</li>
                    <li>@Html.ActionLink("A propos", "About", "Home")</li>
                </ul>
            </nav>
            <div id="search">
            @if (IsSearchEnable)
            {
                using (Html.BeginForm("Search", "Travels", FormMethod.Get))
                {
                    @Html.TextBox("q")
                    <input type="submit" value="Rechercher" />
                }
            }
            </div>
        </header>
        <section id="main" class="sixteen columns">
            @RenderBody()
        </section>
        <footer class="sixteen columns">
          <p>
            <a href="http://asp.net/mvc">ASP.NET MVC</a>
            + <a href="http://www.getskeleton.com/">Skeleton</a>
            + <a href="https://appharbor.com/">AppHarbor</a>
          </p>
        </footer>
    </div>

<!-- <Javascript.Section> -->
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    if (typeof jQuery === "undefined") {
        document.write(unescape("%3Cscript src='@Url.Content("~/Scripts/jquery-2.0.3.min.js")'%3E%3C/script%3E"));
    }
</script>
@StackExchange.Profiling.MiniProfiler.RenderIncludes()
<script src="~/Content/skeleton/javascripts/tabs.js"></script>
@RenderSection("Javascript", required: false)
<!-- </Javascript.Section> -->

</body>
</html>
