@model Bookmaker.Models.Travel

@Html.HiddenFor(model => model.Booklet_ID)
@Html.HiddenFor(model => model.Position)

<div class="editor-label five columns">
    @Html.CaptionFor(model => model.Title)
</div>
<div class="editor-field eleven columns">
    @Html.EditorFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
</div>

<div class="editor-label five columns">
    @Html.CaptionFor(model => model.Subtitle)
</div>
<div class="editor-field eleven columns">
    @Html.EditorFor(model => model.Subtitle)
    @Html.ValidationMessageFor(model => model.Subtitle)
</div>

<div class="editor-label five columns">
    @Html.CaptionFor(model => model.TravelType)
</div>
<div class="editor-field eleven columns">
    @Html.EditorFor(model => model.TravelType)
    @Html.ValidationMessageFor(model => model.TravelType)
</div>

<div class="editor-label five columns">
    @Html.CaptionFor(model => model.Notes)
</div>
<div class="editor-field eleven columns">
    @Html.EditorFor(model => model.Notes)
    @Html.ValidationMessageFor(model => model.Notes)
</div>