@model Bookmaker.Models.Travel

@{
    ViewBag.Title = "Créer un voyage";
}

<h2 class="crud">@Html.ActionCrudCopy("Voyages")</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>Nouveau voyage</legend>

        @Html.Partial("_Editor", Model)

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionCancel()
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}