@model Bookmaker.Models.Travel

@{
    ViewBag.Title = "Afficher un voyage";
}

<h2 class="crud">@Html.ActionCrudCopy("Voyages")</h2>

<fieldset class="sixteen columns">
    <legend>@Model.Title</legend>

    @Html.Partial("_Display", Model)
</fieldset>

@Html.Partial(@"../Prices/Index")

@Html.Partial(@"../Sections/Index")

@section JavaScript
{
    @Html.Partial("_SortScripts")
}