@model Bookmaker.Models.Travel

@{
    ViewBag.Title = "Afficher un voyage";
}

<h2 class="crud">@Html.ActionCrud("Voyages", new { copy = "Copier" })</h2>

<fieldset class="navigation sixteen columns">

    <legend>
        @Model.Title
        @Html.ActionLink("Générer le fichier Word", "Generate", "Booklets", new { id = Model.Booklet_ID, Model.Travel_ID }, new { @class = "icon doc_file", title = "Générer le fichier Word" })
    </legend>
    @Html.Partial("_Display", Model)

    <a class="prev" href="@Url.Action("Previous", new { id = Model.Travel_ID} )"></a>
    <a class="next" href="@Url.Action("Next", new { id = Model.Travel_ID} )"></a>
</fieldset>

@Html.Partial(@"../Prices/Index")

@Html.Partial(@"../Sections/Index")

@section JavaScript
{
    @if (@ViewBag.IsUpdatable) { @Html.Partial("_SortScripts"); }

<script>
    $(document).ready(function () {

        /* Indique la taille des illustrations */
        /* ----------------------------------- */
        $("td p img").each(function () {
            var img = $(this);
            var tooltip = img.width() + "x" + img.height();
            img.attr("title", tooltip);
        });
        @if (@ViewBag.IsUpdatable == false) {<text>
        /* Désactive les liens de mise à jour */
        /* ---------------------------------- */
        $("td a.edit, td a.delete").removeAttr("href").addClass("impossible");
        </text>}

    });
</script>
}