@model Bookmaker.Models.Travel

@{
    ViewBag.Title = "Afficher un voyage";
}

<h2 class="crud">@Html.ActionCrud("Voyages")</h2>

<fieldset class="sixteen columns">
    <legend>@Model.Title</legend>

    @Html.Partial("_Display", Model)
</fieldset>

<p>@Html.ActionLink("Copier le voyage dans une autre brochure", "Copy", "Travels", new { id = Model.Travel_ID }, null)</p>

@Html.Partial(@"../Prices/Index")

@Html.Partial(@"../Sections/Index")

@section JavaScript
{
    @Html.Partial("_SortScripts")
}