@model Bookmaker.Models.TravelImport

@{
    ViewBag.Title = "Importer un voyage";
}

<h2 class="crud">@Html.ActionCrud("Voyages", new { copy = "Copier" })</h2>

<fieldset>
    <legend>Importe «&nbsp;@Model.Travel.Title&nbsp;»</legend>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="editor-label five columns"> 
            @Html.CaptionFor(model => model.RawContent)
        </div>
        <div class="editor-field eleven columns">
            @Html.EditorFor(model => model.RawContent)
            @Html.ValidationMessageFor(model => model.RawContent)
        </div>

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionCancel()
        </p>
    }
</fieldset>

@section JavaScript
{
    @Html.Partial("_FormScripts")
}