@model IEnumerable<Bookmaker.Models.TravelIndex>

@{
    ViewBag.Title = "Tous les voyages";
}

<h2 class="crud">@Html.ActionCrud("Voyages")</h2>

<table class="sortable" data-url='@Url.Action("Sort", "Travels")'>
<thead>
    <tr>
        <th class="iconwidth"></th>
        <th>
            N°
        </th>
        <th>
            Voyage
        </th>
        <th>
            Type
        </th>
        <th>
            Parties
        </th>
        <th>
            Tarifs
        </th>
        <th class="iconwidth"></th>
    </tr>
</thead>
<tbody>
@foreach (var line in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = line.Travel_ID }, new { @class = "edit" })
        </td>
        <td class="handle" data-pos="@(line.Position - 1)">
            @line.Position
        </td>
        <td>
            @Html.ActionLink(@line.Title, "Details", new { id = line.Travel_ID })
        </td>
        <td>
            @line.TravelType
        </td>
        <td>
            @line.SectionsCount
        </td>
        <td>
            @line.PricesCount
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = line.Travel_ID }, new { @class = "delete" })
        </td>
    </tr>
}
</tbody>
</table>

@section JavaScript
{
    @if (@ViewBag.IsUpdatable) { @Html.Partial("_SortScripts"); }

<script>
    $(document).ready(function () {
        @if (@ViewBag.IsUpdatable == false) {<text>
        /* Désactive les liens de mise à jour */
        /* ---------------------------------- */
        $("td a.edit, td a.delete").removeAttr("href").css("cursor", "not-allowed");
        </text>}

    });
</script>
}