@model IEnumerable<Bookmaker.Models.TravelIndex>

@{
    ViewBag.Title = "Tous les voyages";
}

<h2 class="crud">@Html.ActionCrud("Voyages")</h2>

<table>
<thead>
    <tr>
        <th></th>
        <th>
            N°
        </th>
        <th>
            Voyage
        </th>
        <th>
            Type
        </th>
        <th>
            Parties
        </th>
        <th>
            Tarifs
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TravelID }, new { @class = "edit" })
        </td>
        <td class="handle" data-pos="@(item.Position - 1)">
            @item.Position
        </td>
        <td>
            @Html.ActionLink(@item.Title, "Details", new { id = item.TravelID })
        </td>
        <td>
            @item.TypeTravel
        </td>
        <td>
            @item.SectionsCount
        </td>
        <td>
            @item.PricesCount
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.TravelID }, new { @class = "delete" })
        </td>
    </tr>
}
</tbody>
</table>

@section JavaScript
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.22.min.js")"></script>
    <script>
        $(document).ready(function () {
            $("tbody").sortable({
                axis: "y",
                containment: "table",
                cursor: "move",
                handle: ".handle",
                helper: function (e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function (index) {
                        // Set helper cell sizes to match the original sizes
                        $(this).width($originals.eq(index).width())
                    });
                    return $helper;
                },
                update: function (e, ui) {
                    $.ajax({
                        url: '@Url.Action("Sort", "Travels")',
                        type: "POST",
                        cache: false,
                        contentType: "application/json",
                        data: JSON.stringify({
                            from: ui.item.children(".handle").data("pos"),
                            to: ui.item.index()
                        }),
                        success: function (result) {
                            if (result != "") alert(result);
                            $(".handle").each(function (index) {
                                $(this).text(index + 1);
                                $(this).data("pos", index);
                            });
                        }
                    });
                }
            });
            $("tbody .handler").disableSelection();
        });
    </script>
}