@model IEnumerable<Bookmaker.Models.TravelIndex>

@{
    ViewBag.Title = "Tous les voyages";
}

<h2 class="crud">@Html.ActionCrud("Voyages")</h2>

<table class="sortable" data-url='@Url.Action("Sort", "Travels")'>
<thead>
    <tr>
        <th class="iconwidth"></th>
        <th>
            N°
        </th>
        <th>
            Voyage
        </th>
        <th>
            Type
        </th>
        <th>
            Parties
        </th>
        <th>
            Tarifs
        </th>
        <th class="iconwidth"></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Travel_ID }, new { @class = "edit" })
        </td>
        <td class="handle" data-pos="@(item.Position - 1)">
            @item.Position
        </td>
        <td>
            @Html.ActionLink(@item.Title, "Details", new { id = item.Travel_ID })
        </td>
        <td>
            @item.TypeTravel
        </td>
        <td>
            @item.SectionsCount
        </td>
        <td>
            @item.PricesCount
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Travel_ID }, new { @class = "delete" })
        </td>
    </tr>
}
</tbody>
</table>

@section JavaScript
{
    @Html.Partial("_SortScripts")
}