@model IEnumerable<Bookmaker.Models.TravelIndex>

@functions
{
    HelperResult OK(Func<dynamic, HelperResult> nugget)
    {
        if (ViewBag.IsUpdatable) {
            return new HelperResult(w => nugget(null).WriteTo(w));
        }
        return new HelperResult(w => w.Write(""));
    }
}

@{
    ViewBag.Title = "Tous les voyages";
}

<h2 class="crud">@Html.ActionCrud("Voyages")</h2>

<table class="sortable" data-url='@Url.Action("Sort", "Travels")'>
<thead>
    <tr>
        @OK(@<th class="iconwidth"></th>)
        <th>
            N°
        </th>
        <th>
            Voyage
        </th>
        <th>
            Type
        </th>
        <th>
            Parties
        </th>
        <th>
            Tarifs
        </th>
        @OK(@<th class="iconwidth"></th>)
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        @OK(@<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Travel_ID }, new { @class = "edit" })
        </td>)
        <td class="handle" data-pos="@(item.Position - 1)">
            @item.Position
        </td>
        <td>
            @Html.ActionLink(@item.Title, "Details", new { id = item.Travel_ID })
        </td>
        <td>
            @item.TravelType
        </td>
        <td>
            @item.SectionsCount
        </td>
        <td>
            @item.PricesCount
        </td>
        @OK(@<td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Travel_ID }, new { @class = "delete" })
        </td>)
    </tr>
}
</tbody>
</table>

@section JavaScript
{
    @Html.Partial("_SortScripts")
}