@model Bookmaker.Models.Price

<div class="display-label five columns">
    @Html.LabelFor(model => model.Title)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Title)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Price1)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Price1)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Price2)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Price2)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Price3)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Price3)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Price4)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Price4)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Price5)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Price5)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Notes)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Notes)
</div>
