@model Bookmaker.Models.Price

@{
    ViewBag.Title = "Créer un tarif";
}

<h2 class="crud">@Html.ActionChildcrud("Tarifs", "Prices", Model.Travel_ID)</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>Nouveau tarif «&nbsp;@Model.Travel.Title&nbsp;»</legend>

        @Html.Partial("_Editor", Model)

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionLink("Annuler", "Details", "Travels", new { id = Model.Travel_ID }, null)
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}