@model Bookmaker.Models.Price

@{
    ViewBag.Title = "Modifier un tarif";
}

<h2 class="crud">@Html.ActionChildcrud("Tarifs", "Prices", Model.Travel_ID)</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset class="sixteen columns">
        <legend>Modification tarif «&nbsp;@Model.Travel.Title&nbsp;»</legend>

        @Html.HiddenFor(model => model.Price_ID)
        @Html.Partial("_Editor", Model)

        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Enregistrer" />
            @Html.ActionCancel()
        </p>
    </fieldset>
}

@section JavaScript
{
    @Html.Partial("_FormScripts")
}
