@model IEnumerable<Bookmaker.Models.PriceIndex>

@functions
{
    HelperResult OK(Func<dynamic, HelperResult> nugget)
    {
        if (ViewBag.IsUpdatable)
        {
            return new HelperResult(w => nugget(null).WriteTo(w));
        }
        return new HelperResult(w => w.Write(""));
    }
}

@{
    ViewBag.Title = "Tous les tarifs";
}

<h2>
    @Html.Action("Title", "Booklets")
    @Html.ActionLink("Exporter les tarifs vers Excel", "Export", null, new { @class = "icon xls_file", title = "Exporter les tarifs vers Excel" })
</h2>

@{ var current = -1; }

<table>
<thead>
    <tr>
        <th>
            Voyage
        </th>
        <th>
            Tarif
        </th>
        <th>
            30 à 34
        </th>
        <th>
            35 à 39
        </th>
        <th>
            40 à 44
        </th>
        <th>
            45 à 49
        </th>
        <th>
            50 à 55
        </th>
        <th>
            Notes ?
        </th>
        @OK(@<th class="iconwidth"></th>)
    </tr>
</thead>
<tbody>
@foreach (var line in Model)
{
    <tr>
        <td>
        @if (current != line.Travel_ID)
        {
            current = line.Travel_ID;
            @Html.ActionLink(@line.TravelTitle, "Details", "Travels", new { id = line.Travel_ID }, null)
        }
        </td>
        <td>
            @line.Title
        </td>
        <td>
            @line.TextPrice1
        </td>
        <td>
            @line.TextPrice2
        </td>
        <td>
            @line.TextPrice3
        </td>
        <td>
            @line.TextPrice4
        </td>
        <td>
            @line.TextPrice5
        </td>
        <td>
            @line.TextNotes
        </td>
        @OK(@<td>
            @Html.ActionLink("Modifier", "Edit", "Prices", new { id = line.Price_ID, view_from = "index" }, new { @class = "edit" })
        </td>)
    </tr>
}
</tbody>
</table>
