@model IEnumerable<Bookmaker.Models.PriceIndex>

@{
    ViewBag.Title = "Tous les tarifs";
}

<h2>
    @Html.Action("Title", "Booklets")
    @Html.ActionLink("Exporter les tarifs vers Excel", "Export", null, new { @class = "icon xls_file", title = "Exporter les tarifs vers Excel" })
</h2>

@{ var current = -1; }

<table>
<thead>
    <tr>
        <th>
            Voyage
        </th>
        <th>
            Tarif
        </th>
        <th>
            30 à 34
        </th>
        <th>
            35 à 39
        </th>
        <th>
            40 à 44
        </th>
        <th>
            45 à 49
        </th>
        <th>
            50 à 55
        </th>
        <th>
            Notes ?
        </th>
        <th class="iconwidth"></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
        @if (current != item.Travel_ID)
        {
            current = item.Travel_ID;
            @Html.ActionLink(@item.TravelTitle, "Details", "Travels", new { id = item.Travel_ID }, null)
        }
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.TextPrice1
        </td>
        <td>
            @item.TextPrice2
        </td>
        <td>
            @item.TextPrice3
        </td>
        <td>
            @item.TextPrice4
        </td>
        <td>
            @item.TextPrice5
        </td>
        <td>
            @item.TextNotes
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", "Prices", new { id = item.Price_ID, view_from = "index" }, new { @class = "edit" })
        </td>
    </tr>
}
</tbody>
</table>
